{% extends 'user/baseUser.html.twig' %}

{% block title %}Twoja ToDoList{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/user/toDoList.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block body %}

    <div class="row justify-content-between">
        <div class="col-4">
            <h2>{{ toDoList.name }}</h2>
        </div>
        <div class="col-2 text-right">
            <a href="{{ path('deleteToDoList', {id: toDoList.id}) }}">
                <span class="glyphicon glyphicon-trash"></span>
                Usuń listę
            </a>
        </div>
    </div>

    <div class="row justify-content-start">
        {% for status in statuses %}
            <div class="col">
                <div class="status">
                    <div class="row name-status">
                        <div class="col-sm-8">
                            {{ status.name }}
                        </div>
                        <div class="col-sm-2">
                            <a data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </a>
                            <div class="dropdown-menu">
                                <a href="{{ path("deleteStatus", {id: status.id}) }}">Usuń status</a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" data-toggle="modal" data-target="#modalAddNewTask" id="{{ status.id }}"  onclick="setValueHiddenType(this)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        {#todo#}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col">
            <div class="box-add-status">
                <button type="button" id="buttonAddStatus" class="btn" data-toggle="modal" data-target="#modalAddNewStatus">+ Dodaj nowy status</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAddNewStatus" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dodaj nowy status</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                {{ form_start(formNewStatus) }}
                <div class="modal-body">
                    <label for="form_name">Nazwa</label>
                    {{ form_widget(formNewStatus.name, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(formNewStatus.save, {'attr': {'class':'btn btn-primary'}}) }}
                </div>
                {{ form_end(formNewStatus) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAddNewTask" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dodaj nowy task</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                {{ form_start(formNewTask) }}
                <div class="modal-body">
                    <label for="form_name">Nazwa</label>
                    {{ form_widget(formNewTask.name, {'attr': {'class':'form-control'}}) }}
                    <label for="form_description">Description</label>
                    {{ form_widget(formNewTask.description, {'attr': {'class':'form-control'}}) }}
                    {{ form_widget(formNewTask.idStatus, {'value': ''}) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(formNewTask.save, {'attr': {'class':'btn btn-primary'}}) }}
                </div>
                {{ form_end(formNewTask) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/toDoList.js') }}"></script>

{% endblock %}